# Ignore everthing to use this dockerignore as a whitelist
*

# Specifically add all files that should not be ignored
!requirements.txt
!setup.py
!pyproject.toml
!poetry.lock
!README.md
!src
!.flake8
!scripts
!squirrel
