fsspec>=0.8.7
msgpack
msgpack-numpy
more_itertools
pluggy
random-name
ruamel.yaml
tqdm
numba
numpy
pyjwt>=2.4.0
mako>=1.2.2
oauthlib>=3.2.1

# older versions are insecure
aiohttp>=3.7.4
protobuf>=3.20.2
GitPython>=3.1.30
wheel>=0.38.1
setuptools>=65.5.1
cryptography>=38.0.3
certifi>=2022.12.07

