# used by .readthedocs.yml as dependencies for documentation
# readthedocs does not include `sphinx-autoapi` by default
# plus configure everything doc related here for consistency
Sphinx<4.0.0
sphinx_versions
sphinx_rtd_theme
sphinx-autoapi
sphinxcontrib-mermaid
Jinja2<3.1 # remove when sphinx is updated to 4.4, https://github.com/sphinx-doc/sphinx/issues/1029
click<8.1  # remove when update docs, https://github.com/streamlit/streamlit/issues/4555
